footer.footer-2 .socials svg {
  color: #444;
  width: 1.6rem;
  height: 1.6rem;
}

footer.footer-2 p {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 550;
}

footer.footer-2.dark {
  background-color: var(--bg-black);
  color: #fff;
}

footer.footer-2.dark .socials svg {
  color: #fff;
}
