.card-details__box .pfp img {
  width: 100%;
  height: auto;
  background-color: antiquewhite;
  padding: 1rem;
  border-radius: 7px;
  padding: 1rem;
  border: 1px solid #ddd;
}

.card-details__box .pfp span {
  width: 100%;
  display: block;
  border: 1px solid #ddd;
  background-color: var(--bg-white-2);
  text-align: center;
  padding: 0.8rem;
  border-radius: 7px;
  font-weight: 500;
  text-transform: uppercase;
}

.entries > div {
  border: 1px solid #ddd;
  background-color: var(--bg-white-2);
  padding: 1.2rem 1.4rem;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.entries > div span,
.entries > div label {
  width: max-content;
  opacity: 0.5;
  font-weight: 450;
  font-size: 0.97rem;
}

.entries > div label {
  cursor: pointer;
}

.entries > div p {
  font-size: 0.98rem;
  line-height: 185%;
  font-weight: 400;
}

.card-details__box .info span {
  color: #9327ff;
}

.card-details__box .info button {
  border: none;
  outline: none;
  background-color: #9327ff;
  padding: 0.7rem 1.9rem;
  border-radius: 100px;
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.connected-sites > span {
  width: max-content;
  background-color: var(--bg-white-2);
  border: 1px solid #ddd;
  border-radius: 100px;
  padding: 0.8rem 1.8rem;
  font-weight: 500;
}

.empty-result img {
  width: 10rem;
  height: 10rem;
}

.empty-result p {
  width: max-content;
  padding: 0.2rem 0.4rem;
  font-weight: 500;
  border-bottom: 2px dotted #000;
}

.card-details-dark {
  background-color: var(--bg-black);
  color: #fff;
}

.card-details-dark .entries > div,
.card-details-dark .card-details__box .pfp span,
.card-details-dark .connected-sites > span {
  background-color: var(--bg-black-2);
  border: 1px solid var(--bg-border-black);
}

.card-details-dark .card-details__box .pfp img {
  background-color: rgba(250, 235, 215, 0.594);
  border: 1px solid var(--bg-border-black);
}

.card-details-dark .empty-result p {
  border-bottom: 2px dotted #fff;
}
