.pfp > div.e img {
  padding: 0;
  margin-bottom: 0;
  border: 1px solid #ddd;
  min-height: 18rem;
  object-fit: cover;
}

.pfp > div.e {
  background-color: inherit;
}

.pfp > div.e > div {
  position: absolute;
  bottom: 1.6rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.pfp > div.e > div button {
  background-color: antiquewhite;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pfp > div.e > div button svg {
  width: 1.3rem;
  height: 1.3rem;
}

.form-dark .pfp > div.e img {
  border: 1px solid #555;
}
